@charset "utf-8";

body{
   font-family: 'Open Sans', sans-serif;
   overflow-y: scroll;
   overflow-x: hidden;
}

#header{
   height: 155px;border-bottom: 5px solid #0e73a7;z-index: 2;position: relative;
}

   .hWrap{
      height: 90px;background-image: url(../img/img_h.jpg);
      background-position: center;background-repeat: no-repeat;
      background-color: #0d72a6;
   }
   .htop{width: 980px;height: 90px;margin: 0 auto;position: relative;}
   .htop>ul{position: absolute;top: 20px;left: 0;}
   .htop>ul>li{float: left;margin-right: 5px;height: 50px;}
   .htop>ul>li:nth-child(1){width: 40px;}
   .htop>ul>li:nth-child(2){width: 80px;}
   .htop>ul>li>a{text-align: center;color:#fff;}
   .htop>ul>li h1{font-size: 22px;}
   .htop>ul>li p{font-size: 12px; }

   .searchWrap{
      position: absolute; _background: #aff;left: 280px;top: 30px;
      width: 290px;height: 30px;
      
   }
   .searchInp{
      width: 290px;height: 30px;border: 0 none;
      border-radius: 15px;text-indent: 80px;font-size: 13px; font-weight: bold;
      position: relative;z-index: 1;
   }
   .searchBtn{
      width: 20px;height: 20px;
      background-image: url(../img/search.jpg);
      text-indent: -9999px; border: 0 none;
      position: absolute;right: 10px;top: 5px;z-index: 1;
   }
   .searchTitle{
      display: block;
      width: 60px;height: 20px;
      background-image: url(../img/searchtext.jpg);
      text-indent: -9999px;
      position: absolute;top: 5px;left: 15px;z-index: 2;
   }
   .htr{position: absolute;right: 0;top: 33px;}
   .htr>ul>li{float: left;margin-left: 10px;height: 24px;}
   .htr>ul>li>h1{font-size: 22px;color:#fff;line-height: 24px;}
   .htr>ul>li span{font-weight: 800;}
   .htr .sns>li{float: left;width: 24px;height: 24px;background: #fff;margin-left: 6px;} 
   .htr .sns>li:nth-child(2){background: #32ccff;} 
   .htr .sns>li:nth-child(3){background: #4eb820;} 
   .htr .sns>li:nth-child(4){background: #ff7510;}
   .htr .sns>li img{padding: 5px;}

   .hmenu{width: 980px;height: 60px;margin: 0 auto;/*border-bottom: 5px solid #0e73a7;*/ }
   .hmenu>ul>li{float: left;height: 60px;width: 163px;text-align: center;border-left: 1px solid #e6e6e6;}
   .hmenu>ul>li:last-child{border-right: 1px solid #e6e6e6;}
   .hmenu>ul>li>a{display: block;font-size: 18px;font-weight: bold;line-height: 60px;color:#14272e;}

#contents{
   width:100%;margin: 0 auto;
   background-image: url(../img/dot.png), url(../img/img_bg01.jpg);
   background-repeat: repeat, no-repeat;
   background-size: auto, cover;
   background-position: center;
   background-color: #fff;position: relative;z-index: 1;
}
   .bal01{
      position: absolute;right: 600px;top: 290px;
      animation-name:bal01;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
   }
   @keyframes bal01{
      0%{transform: translateY(-30px);}      
      100%{transform: translateY(0px);}      
   }

   .bal02{
      position: absolute;left: 180px;top: 100px;
      animation-name:bal02;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
   }
   @keyframes bal02{
      0%{transform: translateX(-30px);}      
      100%{transform: translateX(0px);}      
   }
   .bal03{
      position: absolute;right: 300px;top:100px;
      animation-name:bal03;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
   }
/*   @keyframes bal03{
      0%{transform: translateX(-30px);}      
      100%{transform: translateX(0px);}      
   }*/
   @keyframes bal03{
      0%{right: 300px;top:100px;}
      50%{right: 280px;top: 120px;}
      100%{right: 260px;top: 100px;}
   }
   .bal04{
      position: absolute;right: 100px;top:620px;
      animation-name:bal04;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
   }
   @keyframes bal04{
      0%{transform: translate(0px,0px) rotate(0deg);}      
      25%{transform: translate(-30px,30px) rotate(90deg) scale(1.2);}      
      50%{transform: translate(-30px,60px) rotate(180deg);}      
      75%{transform: translate(-30px,30px) rotate(270deg)scale(1.2);}      
      100%{transform: translate(0px,0px) rotate(360deg);}      
   }
   .bal05{
      position: absolute;left: 130px;top:560px;
      animation-name:bal05;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
   }
   @keyframes bal05{
      0%{transform: translateY(0px) rotate(0deg) scale(1.2);}      
      25%{transform: translateY(40px) rotate(-90deg) ;}      
      50%{transform: translateY(80px) rotate(-180deg) scale(1.2);}      
      75%{transform: translateY(40px) rotate(-270deg);}      
      100%{transform: translateY(0px) rotate(-360deg) scale(1.2);}      
   }

   .air01{
      position: absolute;left: 0;bottom: 0;
      animation-name: air01;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      z-index: 0;
   }
   @keyframes air01{
      0%{left: 0;bottom: 0;}
      100%{left: 2000px;bottom: 1000px;}
   }

   .ctop{width: 980px;height: 611px;margin: 0 auto;position: relative;padding-top: 55px;margin-bottom: 16px;z-index: 2;}
   .ctl{width: 482px;position: absolute;left: 0;}
   .ctl>ul>li{float: left;}
   .ctl>ul>li:nth-child(1){
      width: 482px;height: 300px;background: #fff;position: relative;
      margin-bottom: 16px;
   }
   .remenu{position: absolute;top: 0;left: 0;}
   .remenu>li{width: 135px;height: 75px;}
   .remenu>li:nth-child(1){background: #0099cb;}
   .remenu>li:nth-child(2){background: #006599;border-bottom: 1px solid #015287;}
   .remenu>li:nth-child(3){background: #0099cb;border-bottom: 1px solid #0087bf;}
   .remenu>li:nth-child(4){background: #006599;}
   .remenu>li>a{
      text-align: center;font-size: 17px;line-height: 75px;
      color:#eee;display: block;
   }
   .remenu>li:hover{background: #fff;}
   .remenu>li:hover a{color:#000;}
   .remenu>li img{
      padding-left: 10px;margin-right: 6px;transform: translateY(5px);
   }

   .search{width: 348px;height: 300px;position: absolute;top: 0;right: 0;}
   .search form{padding-top: 15px;}
   .search legend{
      display: block;position: absolute;left: 0;top: -9999px;
   }
   .formLayer{width: 277px;margin: 0 auto;}
   .formLayer label{
      display: block;padding: 8px 0;font-size: 16px;
      font-weight: bold; color: #414141;
   
   }
   .formLayer fieldset{margin-bottom: 10px;border: 0 none;}
   .formLayer select{
      display: block;width: 277px;height: 30px;text-indent: 10px;
      border-radius: 5px;color:#aaa;border: 2px solid #ededed;
   }
   .formLayer .left,
   .formLayer .right{float: left;width: 132px;}
   .formLayer .left{margin-right: 13px;}
   .formLayer .left input,
   .formLayer .right input{
      width: 100%;height: 30px;border-radius: 5px;text-indent: 10px;
      font-size: 12px;border: 2px solid #ededed;color: #aaa;
   }
   .formLayer .bleft,
   .formLayer .bmid,
   .formLayer .bright{float: left; margin-bottom: 12px;}
   .formLayer .bleft{margin-right: 20px;}
   .formLayer .bmid{margin-right: 7px;}
   .formLayer .bleft select{
      display: block;width: 118px;height: 30px;text-indent: 10px;
      border-radius: 5px;color:#aaa;border: 2px solid #ededed;
   }
   .formLayer .bmid input,
   .formLayer .bright input{
      width: 66px;height: 30px;border-radius: 5px;text-indent: 10px;
      font-size: 14px;border: 2px solid #ededed;color: #aaa;
   }


   .formLayer .tBtn{
      width: 100%;height: 40px;border: 0 none;cursor: pointer;background: #ea4f1f; 
      border-radius: 10px;color: #fff;
      font-size: 17px;font-weight: bold;
   }







   .ctl>ul>li:nth-child(2){
      width: 233px;height: 240px;background: #fff;
      margin-right: 16px;margin-bottom: 16px;
      position: relative;
   }
   .ctl>ul>li:nth-child(2) img{position: absolute;top: 0;left: 0;}
   .ctl>ul>li:nth-child(2) .txtbox{
      width:100%; height: 50px;background: #152630;
      position: absolute;bottom: 0;left: 0;font-size: 17px;line-height: 50px;
   }
   .ctl>ul>li:nth-child(2) .txt01{color:#fff;position: absolute;left: 20px;}
   .ctl>ul>li:nth-child(2) .txt02{color:#6ec564;position: absolute;right: 40px;}
   .ctl>ul>li:nth-child(2) .txt03{color:#eee;position: absolute;right: 15px;}


   .ctl>ul>li:nth-child(3){width: 233px;height: 240px;background: #fef;margin-bottom: 16px;position: relative;}
   .ctl>ul>li:nth-child(3) .txtbox{
      width:100%; height: 50px;background: #152630;
      position: absolute;bottom: 0;left: 0;font-size: 17px;line-height: 50px;
   }
   .ctl>ul>li:nth-child(3) .txt01{color:#fff;position: absolute;left: 20px;}
   .ctl>ul>li:nth-child(3) .txt02{color:#6ec564;position: absolute;right: 40px;}
   .ctl>ul>li:nth-child(3) .txt03{color:#eee;position: absolute;right: 15px;}

   .ctr{
      position: absolute;right: 0;top: 55px;z-index: 2;

   }
   .maintxt{width: 458px;height: 556px;position: relative;}
   .maintxt h1{font-size: 60px;color:#142630;padding-top:20px;line-height: 68px;}
   .maintxt>.line{height: 5px;width: 86px;background: #142630;position: absolute;left: 242px;}
   .maintxt>p{font-size: 25px; color: #142630;padding-top: 25px;line-height: 40px;}
   /*.bgimg{position: absolute;right: -100px;top: 150px;z-index: 1;}*/



   .cbottom{
      width: 980px;margin: 0 auto;_background: #000;padding-bottom: 16px;position: relative;z-index: 2;
   }
   .cbottom>ul>li{overflow: hidden;
      float: left;width: 233px;height: 240px;background: #eee;
      position: relative;margin-right: 16px;margin-bottom: 16px;
   }
   .cbottom>ul>li:nth-child(4),
   .cbottom>ul>li:nth-child(8){margin-right: 0;}
   .cbottom>ul>li:nth-child(5),
   .cbottom>ul>li:nth-child(6),
   .cbottom>ul>li:nth-child(7),
   .cbottom>ul>li:nth-child(8){margin-bottom: 0;}

   .cbottom>ul>li .txtbox{position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;background: #529351;}
   .cbottom>ul>li .txtbox1{position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;background: #152630;}
   .cbottom>ul>li h4{color:#fff;padding-left: 18px;}
   .cbottom>ul>li .txt01{font-size: 16px;padding-top: 10px;}
   .cbottom>ul>li .txt02{font-size: 13px;}
   .cbottom>ul>li:nth-child(1) span,
   .cbottom>ul>li:nth-child(2) span{color:#e1a101;}

   .cbottom>ul>li .slider,
   .cbottom>ul>li .slider1{position: absolute;top: 0;left: 0;}   

   .view{width: 100%; height: 240px;margin: 0 auto;}
   .nextBtn,.prevBtn{
      position: absolute; top:60px;
      cursor: pointer; opacity: 0.8;
      }
   .prevBtn{left: 0px;}
   .nextBtn{right: 0px;}

   .nextBtn1,.prevBtn1{
      position: absolute; top:60px;
      cursor: pointer; opacity: 0.8;
      }
   .prevBtn1{left: 0px;}
   .nextBtn1{right: 0px;}
   .bx-wrapper{
       -moz-box-shadow: 0 none;
       -webkit-box-shadow: 0 none;
       box-shadow: 0 none;
       border: 0 none;
       margin-bottom: 0;
   }   

   .cbottom>ul>li:nth-child(3) h1{
      color:#fff;position: absolute;top: 10px;left: 83px;
      font-weight: 500;font-size: 20px;
   }
   .cbottom>ul>li:nth-child(3) h4{font-weight: 500;}
   .cbottom>ul>li:nth-child(3) span{font-size: 18px;font-weight: bold;}
   .cbottom>ul>li:nth-child(3) .txtbox2{
      position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;
      background: rgba(0,0,0,0.8 );
   }
   .cbottom>ul>li:nth-child(3) .txt02{color:#aaa;}
   .cbottom>ul>li:nth-child(3):hover img{transform: scale(1.2);transition: 0.3s;}

   .cbottom>ul>li:nth-child(4) .txtT{position: absolute;top: 15px;left: 17px;}
   .cbottom>ul>li:nth-child(4) .txt03{
      font-size: 14px;line-height: 21px;font-weight: 700;
      color:#555;margin-bottom: 15px;
   }
   .cbottom>ul>li:nth-child(4) .txt04{
      font-size: 12px;font-weight: 700;
      color:#44619d;
   }
   .cbottom>ul>li:nth-child(4) .txt05{color:#888 ;}
   .cbottom>ul>li:nth-child(4) span{color:#e1a101;}
   .cbottom>ul>li:nth-child(4) h4{font-weight: 500;}
   .cbottom>ul>li:nth-child(4) .txtbox3{
      position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;
      background: #44619d;
   }

   

   .cbottom>ul>li:nth-child(5) .img07{
      position: absolute;top: -5px;left: -5px;
      transform:  scale(1.2); transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(5) .bg{
      position: relative;
      width: 100%;height: 100%;
      background:#002266;opacity: 0;transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(5) .wrap{
      width: 30px;height: 30px;border: 2px solid #fff;
      border-radius: 15px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);transition: 0.5s;
      z-index: 3;
   }
   .cbottom>ul>li:nth-child(5) .bar1{
      width: 15px;height: 2px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }
   .cbottom>ul>li:nth-child(5) .bar2{
      width: 2px;height: 15px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }

   .cbottom>ul>li:nth-child(5) .icon{position: absolute;top: 17px;left: 55px;}
   .cbottom>ul>li:nth-child(5) h3{
      color:#fff;text-align: center;padding-left: 35px;padding-top: 25px;
      margin-bottom: 5px;font-size: 20px;
   }
   .cbottom>ul>li:nth-child(5) p{font-size: 13px;text-align: center;color:#e3f5f7; font-weight: 700;}

   .cbottom>ul>li:nth-child(5):hover .img07{transform: scale(1.4);}
   .cbottom>ul>li:nth-child(5):hover .wrap{transform: translate(-50%,-50%) rotate(90deg);}
   .cbottom>ul>li:nth-child(5):hover .bg{opacity: 0.3;}



   .cbottom>ul>li:nth-child(6) .img08{
      position: absolute;top: -15px;left: -60px;
       transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(6) .bg{
      position: relative;
      width: 100%;height: 100%;
      background:#000;opacity: 0;transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(6) .wrap{
      width: 30px;height: 30px;border: 2px solid #fff;
      border-radius: 15px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);transition: 0.5s;
      z-index: 3;
   }
   .cbottom>ul>li:nth-child(6) .bar1{
      width: 15px;height: 2px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }
   .cbottom>ul>li:nth-child(6) .bar2{
      width: 2px;height: 15px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }

   .cbottom>ul>li:nth-child(6) .icon{position: absolute;bottom: 75px;left: 55px;}
   .cbottom>ul>li:nth-child(6) h3{
      color:#fff;text-align: center;padding-left: 35px;padding-top: 140px;
      margin-bottom: 5px;font-size: 20px;
   }
   .cbottom>ul>li:nth-child(6) p{font-size: 13px;text-align: center;color:#e3f5f7; font-weight: 700;}

   .cbottom>ul>li:nth-child(6):hover .img08{transform: scale(1.2);}
   .cbottom>ul>li:nth-child(6):hover .wrap{transform: translate(-50%,-50%) rotate(90deg);}
   .cbottom>ul>li:nth-child(6):hover .bg{opacity: 0.7;}



   .cbottom>ul>li:nth-child(7) .img09{
      position: absolute;top: -15px;left: -60px;
       transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(7) .bg{
      position: relative;
      width: 100%;height: 100%;
      background:#000;opacity: 0;transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(7) .wrap{
      width: 30px;height: 30px;border: 2px solid #fff;
      border-radius: 15px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);transition: 0.5s;
      z-index: 3;
   }
   .cbottom>ul>li:nth-child(7) .bar1{
      width: 15px;height: 2px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }
   .cbottom>ul>li:nth-child(7) .bar2{
      width: 2px;height: 15px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }

   .cbottom>ul>li:nth-child(7) .icon{position: absolute;bottom: 75px;left: 55px;}
   .cbottom>ul>li:nth-child(7) h3{
      color:#fff;text-align: center;padding-left: 35px;padding-top: 140px;
      margin-bottom: 5px;font-size: 20px;
   }
   .cbottom>ul>li:nth-child(7) p{font-size: 13px;text-align: center;color:#e3f5f7; font-weight: 700;}

   .cbottom>ul>li:nth-child(7):hover .img09{transform: scale(1.2);}
   .cbottom>ul>li:nth-child(7):hover .wrap{transform: translate(-50%,-50%) rotate(90deg);}
   .cbottom>ul>li:nth-child(7):hover .bg{opacity: 0.7;}



   .cbottom>ul>li:nth-child(8) .img10{
      position: absolute;top: -25px;left: -130px;
       transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(8) .bg{
      position: relative;
      width: 100%;height: 100%;
      background:#234200;opacity: 0;transition: 0.3s;
   }
   .cbottom>ul>li:nth-child(8) .wrap{
      width: 30px;height: 30px;border: 2px solid #fff;
      border-radius: 15px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);transition: 0.5s;
      z-index: 3;
   }
   .cbottom>ul>li:nth-child(8) .bar1{
      width: 15px;height: 2px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }
   .cbottom>ul>li:nth-child(8) .bar2{
      width: 2px;height: 15px;background: #fff;
      border-radius: 2px;position: absolute;left: 50%;top: 50%;
      transform: translate(-50%,-50%);
   }

   .cbottom>ul>li:nth-child(8) .icon{position: absolute;top: 17px;left: 52px;}
   .cbottom>ul>li:nth-child(8) h3{
      color:#fff;text-align: center;padding-left: 35px;padding-top: 25px;
      margin-bottom: 5px;font-size: 20px;
   }
   .cbottom>ul>li:nth-child(8) p{font-size: 13px;text-align: center;color:#e3f5f7; font-weight: 700;}

   .cbottom>ul>li:nth-child(8):hover .img10{transform: scale(1.2);}
   .cbottom>ul>li:nth-child(8):hover .wrap{transform: translate(-50%,-50%) rotate(90deg);}
   .cbottom>ul>li:nth-child(8):hover .bg{opacity: 0.3;}



#footer{
   height: 100px;
   background-image: url(../img/dot.png);
   background-repeat: repeat;
   background-size: auto;
   background-position: center;
   position: relative;z-index: 2;
}
   .fWrap{width: 980px;margin: 0 auto;position: relative;z-index: 2;}
   .fWrap ul{margin-bottom: 5px;padding-top: 10px;}
   .fWrap li{float: left; margin-right: 25px;}
   .fWrap li:nth-child(2) a{font-weight: 700;}
   .fWrap a{font-size: 15px;font-weight: 500;}
   .fWrap p{font-size: 13px; color: #888;}