@charset "UTF-8";
.G{color: #6cbd61}
.W{color: white;}
.gray{color: gray;}

/*header*/

body{background-image: url(../images/background.jpg);
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			background-size: cover;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.wrap{position: absolute;width: 400px;height: 50px;left: 200px;top: 0px;
		}
		.searchInp{
			width: 400px;height: 50px;
			border: 3px solid #000;
			border-radius:25px;text-indent: 80px;font-size: 15px;font-weight: bold;
			box-shadow: 10px 10px 10px #747474;background: #fff;
			position: relative;z-index: 1;
		}
		.searchBtn{width: 20px;height: 20px;background-image: url(../images/search.jpg);
			text-indent: -9999px;border: 0 none;position: absolute;
			right: 20px;top: 33px;z-index: 1;
		}
		.searchTitle{display: block;width: 60px;height: 20px;background-image: url(../images/searchtext.jpg);
			text-indent: -9999px;position: absolute;top: 35px;left: 15px;position: relative;
			
			z-index: 2;
		}
	

#header{height: 90px;background: #0866a4;
background-image: url(../images/header.jpg);
background-repeat: no-repeat;
}
	.headerWrap{width: 980px;position: relative;margin: 0 auto;
	}
	.headerWrap>a.left{position: absolute;
		display: block;left: 0;font-weight: bold;font-size: 2em;color: white;top: 20px;
	}
	.headerWrap>a.right{position: absolute;
		display: block;right: 0;top:30px;
	}
#top_gnb{background:#efefef;height: 60px;border-bottom: 4px solid #0e73a7;}
#top_gnb>ul.bg{width: 980px;margin: 0 auto;}
#top_gnb>ul.bg>li{float: left;width: 16.6666666667%;height: 60px;
}
#top_gnb>ul.bg>li>a{display: block;text-align: center;line-height: 60px;border-left: 1px solid #e8e8e8;
}
#top_gnb>ul.bg>li>a:last-child{border-right: 1px solid #e8e8e8;}
#top_gnb>ul.bg>li>a:hover{}


/*contents*/
   .remenu{position: absolute;top: 0;left: 0;}
   .remenu>li{width: 160px;height: 75px;position: relative;
   }
   .remenu>li:nth-child(1){background: #0099cb;}
   .remenu>li:nth-child(2){background: #006599;border-bottom: 1px solid #015287;}
   .remenu>li:nth-child(3){background: #0099cb;border-bottom: 1px solid #0087bf;}
   .remenu>li:nth-child(4){background: #006599;}
   .remenu>li>a{
      text-align: center;font-size: 17px;line-height: 75px;
      color:#eee;display: block;
   }
   .remenu>li:hover{background: #fff;}
   .remenu>li:hover a{color:#000;}
   .remenu>li img{position: absolute; left: 15px;top: 23px;
     /* padding-left: 10px;margin-right: 6px;transform: translateY(5px);*/
   }
   .remenu>li img:last-child{position: absolute; left: 15px;top: 25px;}
   .search{width: 348px;height: 300px;position: absolute;top: 0;left: 135px;}
   .search form{padding-top: 15px;}
   .search legend{
      display: block;position: absolute;left: 0;top: -9999px;
   }
   .formLayer{width: 277px;margin: 0 auto;}
   .formLayer label{
      display: block;padding: 8px 0;font-size: 16px;
      font-weight: bold; color: #414141;
   
   }
   .formLayer fieldset{margin-bottom: 10px;border: 0 none;}
   .formLayer select{
      display: block;width: 277px;height: 30px;text-indent: 10px;
      border-radius: 5px;color:#aaa;border: 2px solid #ededed;
   }
   .formLayer .left,
   .formLayer .right{float: left;width: 132px;}
   .formLayer .left{margin-right: 13px;}
   .formLayer .left input,
   .formLayer .right input{
      width: 100%;height: 30px;border-radius: 5px;text-indent: 10px;
      font-size: 12px;border: 2px solid #ededed;color: #aaa;
   }
   .formLayer .bleft,
   .formLayer .bmid,
   .formLayer .bright{float: left; margin-bottom: 12px;}
   .formLayer .bleft{margin-right: 20px;}
   .formLayer .bmid{margin-right: 7px;}
   .formLayer .bleft select{
      display: block;width: 118px;height: 30px;text-indent: 10px;
      border-radius: 5px;color:#aaa;border: 2px solid #ededed;
   }
   .formLayer .bmid input,
   .formLayer .bright input{
      width: 66px;height: 30px;border-radius: 5px;text-indent: 10px;
      font-size: 14px;border: 2px solid #ededed;color: #aaa;
   }


   .formLayer .tBtn{
      width: 100%;height: 40px;border: 0 none;cursor: pointer;background: #ea4f1f; 
      border-radius: 10px;color: #fff;
      font-size: 17px;font-weight: bold;
   }

#contents{position: relative;}
#contents .img01{position: absolute;right: 950px;top: 200px;
			animation-name:ani;
			animation-duration: 1.5s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;z-index: 0;
			
			
		}
			@keyframes ani{
				0%{right: 500px;top: 200px;}
				100%{right: 500px;top: 100px;}
				}

#contents .top{width: 980px;margin: 0 auto;margin-top: 100px;position: relative;
z-index: 1;}
#contents .top>ul>li{float: left;width: 482px;height: 300px;margin-left: 16px;}
#contents .top>ul>li:nth-child(1){background: #fff;margin-left: 0;}
#contents .top>ul>li:nth-child(2){text-align: center;padding-top: 10px;}

#contents .mid{width: 980px;margin: 0 auto;margin-top: 16px;position: relative;
z-index: 1}
#contents .mid>ul>li{float: left;width: 233px;height: 240px;margin-left: 16px;position: relative;}
#contents .mid>ul>li:nth-child(1){background: #ff0;margin-left: 0;background-image: url(../images/france.jpg);
	background-repeat:no-repeat;}
#contents .mid>ul>li>a{position: absolute;bottom: 0;background: #152630;display: block;}
#contents .mid>ul>li>a>p{margin-left: 25px;padding-top: 10px;}

#contents .mid>ul>li:nth-child(2){background: #0f0;background-image: url(../images/japen.jpg);
   background-repeat: no-repeat;}


   

   .bottom>ul>li .txtbox{position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;background: #529351;}
   .bottom>ul>li .txtbox1{position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;background: #152630;}
   .bottom>ul>li h4{color:#fff;padding-left: 18px;}
   .bottom>ul>li .txt01{font-size: 16px;padding-top: 10px;}
   .bottom>ul>li .txt02{font-size: 13px;}
   .bottom>ul>li .slider,
   .bottom>ul>li .slider1{position: absolute;top: 0;left: 0;}

   .bottom .view{width: 100%; height: 240px;margin: 0 auto;}
   .bx-wrapper{
       -moz-box-shadow: 0 none;
       -webkit-box-shadow: 0 none;
       box-shadow: 0 none;
       border: 0 none;
       margin-bottom: 0;
   }   


#contents .bottom{width: 980px;margin: 0 auto;position: relative;z-index: 1;}
#contents .bottom>ul>li{width: 233px;float: left;height: 240px;margin-left: 16px;margin-top: 16px;overflow: hidden;}
#contents .bottom>ul>li:nth-child(1){margin-left: 0;} span{color:#e1a101;}
#contents .bottom>ul>li:nth-child(2){} span{color:#e1a101;}

#contents .bottom>ul>li:nth-child(3){position: relative;}
#contents .bottom>ul>li:nth-child(3) h1{
      color:#fff;position: absolute;top: 10px;left: 83px;
      font-weight: 500px;font-size: 20px;}
#contents .bottom>ul>li:nth-child(3) h4{font-weight: 500;}
#contents .bottom>ul>li:nth-child(3) span{font-size: 18px;font-weight: bold;}
#contents .bottom>ul>li:nth-child(3) .txtbox2{
      position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;
      background: rgba(0,0,0,0.8 );}
#contents .bottom>ul>li:nth-child(3) .txt02{color:#aaa;}
#contents .bottom>ul>li:nth-child(3):hover img{transform: scale(1.2);transition: 0.3s;}


#contents .bottom>ul>li:nth-child(4){position: relative;}
#contents .bottom>ul>li:nth-child(4) .txtT{position: absolute;top: 15px;left: 17px;}
#contents .bottom>ul>li:nth-child(4) .txt03{
      font-size: 14px;line-height: 21px;font-weight: 700;
      color:#555;margin-bottom: 15px;
   }
#contents .bottom>ul>li:nth-child(4) .txt04{
      font-size: 12px;font-weight: 700;
      color:#44619d;
   }
#contents .bottom>ul>li:nth-child(4) .txt05{color:#888 ;}
#contents .bottom>ul>li:nth-child(4) span{color:#e1a101;}
#contents .bottom>ul>li:nth-child(4) h4{font-weight: 500;}
#contents .bottom>ul>li:nth-child(4) .txtbox3{
      position: absolute;bottom: 0;left: 0;width: 100%;height: 65px;
      background: #44619d;
   }
#contents .bottom>ul>li:nth-child(5){background: #0ff; margin-left: 0;}
#contents .bottom>ul>li:nth-child(6){background: #ddd;}
#contents .bottom>ul>li:nth-child(7){background: #d00;}
#contents .bottom>ul>li:nth-child(8){background: #00d;}


#contents .top>ul>li>h2{font-weight: bold; font-size: 4.5em;}
#contents .top>ul>li>p{font-size: 2em;}

#contents .mid>ul{}
#contents .mid>ul>li>a{display: block;width: 233px;height: 40px;
}
#contents .mid>ul>li>a>p{float: left;text-align: center;}