@charset="UTF-8";

/*header*/
#header{
	}
#header .top{width: 1700px;margin: 0 auto;
	height: 100px;position: relative;margin-bottom: 50px}
#header .top .hdBtn{width: 1200px;height: 50px;
	position: absolute;
	top: 20px;left: 15%}
#header .top .hdBtn>li{float: right;width: 200px;
	line-height: 50px;text-align: center;}
#header .top .hdBtn>li>a{display: block;color: grey}
#header .top .hdBtn>li>a>img{margin: 0 auto;}
#header .top .hdBtn>li:first-child{float: left;position: absolute;
top: 3px;}
#header .top .hdBtn>li>a:hover{background: #f9f8fd}


.visual{}
.visual .view{width: 1700px;position: relative;margin: 0 auto;}
.visual .slider li{overflow: hidden;}
.visual .slider img.img{position: absolute;left: 25%;}
.visual .visualTxt{position: absolute;
			left:30px;top: 250px;}
.visual .visualTxt h3{font-size: 5em;margin-bottom: 40px;line-height: 100px;}
.visual .visualTxt a{display: block;
      	 	width: 400px;height: 90px;background: #444daa;color: white;text-align: center;
      	 	line-height: 90px;font-size: 2em;font-weight: bold;}
.visual .visualTxt a:hover{background:#f9f8fd;color: black;}

.bx-wrapper{
            -moz-box-shadow: 0 none;
            -webkit-box-shadow: 0 none;
            box-shadow: 0 none;
            border: 0 none;
            background: #fff;
            margin-bottom: 0;}


#contents .container .why{}
#contents .container .why>ul{width: 1700px;margin: 0 auto;}
#contents .container .why>ul>li{margin-bottom:200px;}
#contents .container .why>ul>li>h2{font-size:4em;text-align: center;
}
#contents .container .why>ul>li>img{float: left;margin-left: 120px;
			box-shadow: 10px 10px 10px 10px #dedede}
#contents .container .why>ul>li:nth-child(1){padding-top: 40px}
#contents .container .why>ul>li:nth-child(2){}




#contents .container .pop{}
#contents .container .pop .popTxt{text-align: center;
}
#contents .container .pop .popTxt h2{font-size: 4em;margin-bottom: 30px}
#contents .container .pop .popTxt p{font-size: 1.5em;margin-bottom: 60px}

#contents .container .pop>ul{width: 1700px;}
#contents .container .pop>ul>li{float: left;width: 545px;height: 630px;
	margin-left: 15px;
	display: block;position: relative;
	box-shadow: 5px 5px 5px 5px #dedede;}
#contents .container .pop>ul>li>img{margin-bottom: 40px}
#contents .container .pop>ul>li>h3{font-weight: bold;font-size: 2em;margin-bottom: 20px}
#contents .container .pop>ul>li>p{font-size: 2em;margin-bottom: 20px}
#contents .container .pop>ul>li>h4{color: #f7865e;font-size: 2em;position: absolute;
	right: 0;bottom: 85px;
	}
#contents .container .pop>ul>li>a{font-size: 1.5em;color: #242e99;}
#contents .container .pop>ul>li>a:hover{font-size: 1.5em;color: #070c47}



#contents .container .in{width: 1700px;height: 2390px;}
#contents .container .in ul{}
#contents .container .in ul>li{float: left;height: 796.0000px;
}
#contents .container .in ul>li>a{}
#contents .container .in ul>li>.inTxt{}
#contents .container .in ul>li>p{}
#contents .container .in ul>li>h2{}



#contents .container{width: 1700px;margin: 0 auto;}
#contents .container ul.all>li{width: 1700px;height: 1000px;}
#contents .container ul.all>li:nth-child(1){margin-bottom: 100px;border-radius:45px;}
#contents .container ul.all>li:nth-child(2){margin-bottom: 200px;}
#contents .container ul.all>li:nth-child(3){margin-bottom: 200px; }
#contents .container ul.all>li:nth-child(4){background:skyblue;height: 2100px;margin-bottom: 200px;}
#contents .container ul.all>li:nth-child(5){background:#e0e;margin-bottom: 200px; }
/*footer*/